body {
   font-size: 16px;
   font-family: arial, helvetica, serif;
   background: white;
}

h1 {
   color: #ffc;
   background-color: #660066;
   font-family: "Times New Roman";
   text-decoration: line-through;
   text-transform: uppercase;
   text-align: center;
   margin: 20px;
   padding: 40px;
   color: #ccccff;
}

p {
   color: rgb(153, 0, 51);
   font-weight: normal;
   font-style: italic;
   text-transform: capitalize;
   letter-spacing: 0.1em;
   word-spacing: 0.1em;
   line-height: 1.5;
   text-align: center;
}

a {
   text-decoration: underline;
   color: green;
   text-transform: lowercase;
   text-align: center;
}
