#cabecera {
    background-color: #ccc;
    padding: 20px
}

#cabecera h1 {
    color: #FFF456;
}

#cabecera p {
    color: white;
    font-weight: bold;
}

.contenido {
    color: red;
    font-weight: bold;
}

.descripcion {
    color: blue;
    font-weight: bold;
}
